
    <h2>Articles</h2>

    <ul class="list-group" id="articles">
      <% @articles.each do |article| %>
      <li class="list-group-item">
        <%= link_to article.title, article_path(article), class: 'article_title' %>
      </li>
      <% end %>
    </ul>

  
