
    <h1>Tags</h1>
    <ul class="list-group" id="tags">
      <% @tags.each do |tag| %>
      <li class="list-group-item">
        <%= link_to tag.name, tag_path(tag), class: 'tag_names' %>

      </li>

      <% end %>
    </ul>
