
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  // background: url(https://www.toptal.com/designers/subtlepatterns/patterns/broken_noise.png);
  background-color: #34495e;
}

.navbar:before, .navbar:after {
  content: none;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-brand {
  color: #2c3e50;
}

 .main {
   padding: 3rem;
   background-color: #bdc3c7;
 }

 .main h2{
   margin-top: 1px;
   color: #2c3e50;
 }

 label {
   color: #34495e;
 }

 .list-group-item {
   background-color: #ecf0f1;
   border-color: #2c3e50;
 }

 .list-group-item a {
   color: #34495e;
 }

 .flash {
   background-color: #7E454A;
   margin-bottom: 0;
   color: white;
   text-align: center;
 }



 //
 //
 // .btn-primary:hover {
 //   background-color: #4E4945;
 //      border-color: #4E4945;
 // }
 //
 // .btn-success {
 //   background-color: #826D47;
 //      border-color: #826D47;
 // }
 //
 // .btn-warning {
 //   background-color: #CC641A;
 //      border-color: #CC641A;
 // }
 //
 // .btn-warning {
 //   background-color: #7E454A;
 //      border-color: #7E454A;
 // }
