
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  // background: url(https://www.toptal.com/designers/subtlepatterns/patterns/broken_noise.png);
  background-color: #34495e;
}

.navbar:before, .navbar:after {
  content: none;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #ecf0f1;
}

.navbar-brand {
  color: #2c3e50;
}

.navbar-brand:hover {
  color: #7f8c8d;
}

 .main {
   padding: 3rem;
   background-color: #bdc3c7;
 }

 .main h2{
   margin-top: 1px;
   color: #2c3e50;
 }

 label {
   color: #34495e;
 }

 .list-group-item {
   background-color: #ecf0f1;
   border-color: #2c3e50;
 }

 .list-group-item a {
   color: #34495e;
 }

 .flash {
   background-color: #7E454A;
   margin-bottom: 0;
   color: white;
   text-align: center;
 }

.btn {
  color: #041628;
  border-radius: 0px;
}

.btn-light {
  background-color: transparent;
  border-color: transparent;
}


.btn-light:hover {
  background-color: transparent;
  border-color: transparent;
  color: #7f8c8d;
}

 .btn-primary {
   background-color: #96afc8;
      border-color: transparent;
 }

 .btn-primary:hover {
   background-color: #2980b9;
      border-color: transparent;
 }

 .btn-success {
   background-color: #96c8af;
      border-color: transparent;
 }

 .btn-success:hover {
   background-color: #27ae60;
      border-color: transparent;
 }

 .btn-warning {
   background-color: #fac864;
      border-color: transparent;
 }

 .btn-warning:hover {
   background-color: #f39c12;
      border-color: transparent;
 }

 .btn-danger {
   background-color: #fa6464;
      border-color: transparent;
 }

 .btn-danger:hover {
   background-color: #c0392b;
      border-color: transparent;
 }
